In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import os
import seaborn as sns
%matplotlib inline

In [2]:
#Creating dataframe of index based on alcohol stocks and tobacco stocks respectively

In [3]:
# Import alcohol stock CSVs
abev_csv = Path("./data/ABEV.csv")
brew_csv = Path("./data/BREW.csv")
bud_csv = Path("./data/BUD.csv")
deo_csv = Path("./data/DEO.csv")
fmx_csv = Path("./data/FMX.csv")
sam_csv = Path("./data/SAM.csv")
stz_csv = Path("./data/STZ.csv")
tap_csv = Path("./data/TAP.csv")
wvvi_csv = Path("./data/WVVI.csv")


# Read CSVs for alcohol stocks
abev_df = pd.read_csv(abev_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
brew_df = pd.read_csv(brew_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
bud_df = pd.read_csv(bud_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
deo_df = pd.read_csv(deo_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
fmx_df = pd.read_csv(fmx_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
sam_df = pd.read_csv(sam_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
stz_df = pd.read_csv(stz_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
tap_df = pd.read_csv(tap_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
wvvi_df = pd.read_csv(wvvi_csv, index_col="date", infer_datetime_format=True, parse_dates=True)



# Import tobacco stock CSVs
mo_csv = Path("./data/MO.csv")
pm_csv = Path("./data/PM.csv")

# Read Tobacco CSVs
mo_df = pd.read_csv(mo_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
pm_df = pd.read_csv(pm_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


# import biotech csv
xbi_csv = Path("./data/XBI.csv")

# read biotech csv
xbi_df = pd.read_csv(xbi_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


# import pharmaceutical csv
xph_csv = Path("./data/XPH.csv")

#read pharmaceutical csv
xph_df = pd.read_csv(xph_csv, index_col="date", infer_datetime_format=True, parse_dates=True)


#import MJ csv
mj_csv = Path("./data/MJETF.csv")

#read MJ csv

mj_df = pd.read_csv(mj_csv, index_col="date", infer_datetime_format=True, parse_dates=True)

In [10]:
# combine CSVs into indexes
alcohol_index = pd.concat([abev_df, brew_df, bud_df, deo_df, fmx_df, sam_df, stz_df, tap_df, wvvi_df], axis=1 , join="inner")
alcohol_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
alcohol_index.columns = ["ABEV", "BREW", "BUD", "DEO", "FMX", "SAM", "STZ", "TAP", "WVVI"]
alcohol_index.head()

,ABEV,BREW,BUD,DEO,FMX,SAM,STZ,TAP,WVVI
date,,,,,,,,,
2019-09-21 16:00:00,4.69,9.09,95.74,161.41,92.93,388.07,203.84,57.55,7.1200
2019-09-16 00:00:00,4.69,9.09,95.74,161.41,92.93,388.07,203.84,57.55,7.1200
2019-09-13 00:00:00,4.66,9.24,96.40,163.24,93.61,389.36,204.07,57.17,7.2000
2019-09-12 00:00:00,4.79,9.13,97.47,166.57,92.90,392.54,203.97,56.25,7.1241
2019-09-11 00:00:00,4.65,9.32,94.27,165.79,92.80,390.48,206.77,56.38,7.1741

In [13]:
# create tocacco index
tobacco_index = pd.concat([mo_df, pm_df], axis=1, join="inner")
tobacco_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
tobacco_index.columns = ["MO", "PM"]

tobacco_index.head()

                        MO     PM
date
2019-09-21 16:00:00  41.41  72.60
2019-09-16 00:00:00  41.41  72.60
2019-09-13 00:00:00  42.01  73.05
2019-09-12 00:00:00  44.46  74.90
2019-09-11 00:00:00  44.72  75.07

In [14]:
# biotech index
biotech_index = xbi_df
biotech_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
biotech_index.columns = ["XBI"]

biotech_index.head()

                       XBI
date
2019-09-21 16:00:00  82.79
2019-09-18 00:00:00  82.79
2019-09-17 00:00:00  83.57
2019-09-16 00:00:00  83.86
2019-09-13 00:00:00  82.42

In [15]:
#pharma index
pharma_index = xph_df
pharma_index.drop(columns = ["volume", "open", "high", "low"], inplace = True)
pharma_index.columns = ["XPH"]

pharma_index.head()

                       XPH
date
2019-09-21 16:00:00  37.30
2019-09-18 00:00:00  37.30
2019-09-17 00:00:00  37.53
2019-09-16 00:00:00  37.64
2019-09-13 00:00:00  37.31

In [21]:
# MJ index
mj_index = mj_df
mj_index.columns = ["MJ"]

mj_index.head()

                        MJ
date
2019-09-21 16:00:00  24.59
2019-09-16 00:00:00  24.59
2019-09-13 00:00:00  25.22
2019-09-12 00:00:00  25.08
2019-09-11 00:00:00  25.71

In [28]:
alcohol_weights = [1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9, 1/9]
tobacco_weights = [1/2, 1/2]

weighted_alcohol_index = alcohol_index.dot(alcohol_weights)
weighted_tobacco_index = tobacco_index.dot(tobacco_weights)

In [29]:
weighted_alcohol_index.head()

date
2019-09-21 16:00:00    113.382222
2019-09-16 00:00:00    113.382222
2019-09-13 00:00:00    113.883333
2019-09-12 00:00:00    114.527122
2019-09-11 00:00:00    114.181567
dtype: float64

In [30]:
weighted_tobacco_index.head()

date
2019-09-21 16:00:00    57.005
2019-09-16 00:00:00    57.005
2019-09-13 00:00:00    57.530
2019-09-12 00:00:00    59.680
2019-09-11 00:00:00    59.895
dtype: float64